.navigation {
  position: absolute;
  left: 75.08%;
  right: 0%;
  top: 25%;
  bottom: 25%;
  display: flex;
  ul {
    display: flex;
  }
  a {
    text-decoration: underline;
    padding: 10px;

    li {
      color: #6860ff;
      cursor: pointer;
      &:hover {
        color: blue;
      }
    }
  }

  .nav-active {
    position: relative;

    & :after {
      content: "";
      height: 4px;
      width: 0px;
      background-color: red;
      position: absolute;
      border-radius: 10px;
    }
  }
}
