.bannersection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  mix-blend-mode: darken;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 43px;
}
.bannersection img {
  object-fit: cover;

  width: 100%;
  mix-blend-mode: darken;
  border-radius: 25px;
  z-index: 0;
}
.bannersection h1 {
  position: absolute;
  color: white;

  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;

  display: flex;
  align-items: flex-end;
}
