.bannersection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 43px;
}
.bannersection img {
  object-fit: cover;
  opacity: 0.7;
  width: 100%;
  background: #f7f7f7;
  border-radius: 25px;
}
.bannersection h1 {
  position: absolute;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  /* or 68px */

  display: flex;
  align-items: flex-end;
}
