.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.navigation {
  display: flex;
  justify-content: space-between;

  height: 34px;
  width: 309px;
  left: 931px;
  top: 17px;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}
.logo img {
  height: 68px;
  width: 210.32154846191406px;
}
.nav-active {
  text-decoration: underline;
}
