.containerdropdown {
  display: flex;

  justify-content: center;

  gap: 5%;
  margin: 20px 7%;
}
.description {
  width: 50%;

  margin-bottom: 200px;
}
.equipements {
  width: 50%;

  margin-bottom: 200px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 7%;
}

.infogauche {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infotitre h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;

  color: #ff6060;
}
.infotitre h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #ff6060;
}
.infodroite .host {
  display: flex;
  align-items: center;
  gap: 1%;
}
.infodroite p {
  color: blue;
  font-size: 16px;
}
.infodroite img {
  width: 64px;

  border-radius: 50%;
}
.fiche {
  max-width: 1440px;
}
